<div class="banner">
   <div id="contact" class="container">
     <div class="row">
       <div class="col-lg-6 col-xs-12">
         <h2>Vote for me on 23rd May.</h2>
         <h3>I promise to be YOUR voice on the County Council.</h3>
       </div>
       <div class="col-lg-6 col-xs-12">
         <ul class="list-inline banner-social-buttons">
           <li><a href="https://www.facebook.com/LouiseRocheMcnamara" class="btn btn-default btn-lg">
           <i class="fa fa-facebook fa-fw"></i>
               <span class="network-name">Facebook</span></a> </li>
           <li><a href="#" class="nonclick-phone btn btn-default btn-lg">
           <i class="fa fa-phone fa-fw"></i>
               <span class="network-name">Call 086 348 8966</span></a> </li>
           <li><a href="tel:+353863488966" class="click-phone btn btn-default btn-lg">
           <i class="fa fa-phone fa-fw"></i>
               <span class="network-name">Click here to call me</span></a> </li>
         </ul>
       </div>
     </div>
   </div>
</div>
