<div class="container">
  <div class="row">
    <div class="col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div id="site-title">
            <div class="col-lg-6 col-md-6 col-sm-7">
              <div class="col-12 navbar-header"> <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span
                    class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                  <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button> <a title="Small Business Site" class="navbar-brand"
                  href="#">Local Business</a> </div>
              <div class="col-6"><a href="#"><img src="assets/images/logo.png"></a></div>
            </div>
          </div>
          <!-- /#site-title -->
          <div class="col-lg-6 col-md-6">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="main-nav" class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                <li class="hidden"></li>
                <li class="page-scroll"><a href="#top" data-id="contact">Top</a></li>
                <li class="page-scroll"><a href="#section-1" data-id="about">Section 1</a></li>
                <li class="page-scroll"><a href="#section-2" data-id="services">Section 2</a></li>
              </ul>
            </div>
            <a href="tel:+353863488966" class="active-phone"><i class="fa fa-phone"></i></a>
            <!-- /.navbar-nav --> </div>
          <!-- /.navbar-collapse --> </div>
        <!-- /.row --> </div>
      <!-- /.container --> </nav>
  </div>
  </div>
</div>
</header>
