//@import (less) "app.min.css";
//@import (less) "main.css";
@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import url(http://fonts.googleapis.com/css?family=Lato|Open+Sans);

body, html {
	height: 100%;
	width: 100%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	//color: #666;
}

h2 {
	margin-top: 0;
	font-size: 40px;
	line-height: 40px;
}

.active-phone {
	display: none;
	position: absolute;
	right: 25px;
	top: -50px;
	font-size: 30px;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	color: #fff;
	}

.active-phone:hover {
	color: #000;
}

.click-phone {
	display: none;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}
//
#site-title a:visited {
	color: #fff;
}

.navbar {
	background-color: #000;//
	color: #fff;
	padding: 10px 0;
}

.navbar-header {
	padding-left: 0;
	padding-right: 0;
}

.navbar-default .navbar-brand {
color: #fff;
margin-bottom: 20px;
/*text-transform:uppercase;*/
}

.navbar-default .navbar-brand:hover {
color: #000;
}

.navbar-default .navbar-nav > li > a {
color: #fff;
}

.navbar-toggle {
	border-radius: 0;
	margin-right: 0;
}//

.first_background {
	padding-top: 70px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	color: #f8f8f8;
	background: url(../assets/images/img1.jpg) no-repeat center center;//
	background-size: cover;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.intro-header {
	padding-top: 100px;
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/opaque-bg.png) repeat;
	background: rgba(0,0,0,.6);
	text-align: center;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-img {
	border: 1px solid #fff;
}

.btn-lg {
	border-radius: 0;
}

.fa-check-circle {
	color: #008f45;
}

.fa-li {
	top: 5px;
	}



/**********************************/
.intro-message {
	position: relative;
	/*padding-top: 20%;*/
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 5px solid #3f7462;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	/*background: url(../img/banner-bg.jpg) no-repeat center center;*/
	/*background-size: cover;*/
	background-color: #3f7462;
	opacity: 0.6;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	margin-top: 0;
}

.list-inline > li {
    margin-bottom: 10px;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		clear: both;
		margin-top: 15px;
		text-align: center;
	}

	.banner {
 	text-align: center;
 	}

}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}



	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
		text-align: center;
		clear: both;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}
}

@media(max-width:650px){

	#text-intro,
	#main-image {
		width: 100%;
		}

	#main-image {
		margin-bottom: 20px;
		}

	.intro-header {
    padding-top: 100px;
 	}


}

@media(max-width:500px){

	.col-xs-6 {
		width: 100%;
		}

	.active-phone {
		display: block;
		}

	.click-phone {
	display: block;
	}

	.nonclick-phone {
	display: none;
	}

}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}
